body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-color: forestgreen;
    padding: 10px;
    border-bottom: 6px solid tan;
    text-align: right;
   
}

button{
    background-color: rgba(165, 112, 42, 0.822);
    color: white;
    padding: 10px 40px;
}

header a{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
}

h1{
    text-align: center;
    color: rgba(165, 136, 42, 0.815);
}
.text-center{
    text-align: center;
}
#contact-me{
    background-color: tan;
    border: 4px solid rgb(119, 99, 10);
    padding: 50px 20px;
}

form{
    background-color: transparent;
    border: 3px solid goldenrod;
    display: inline-block;
    padding: 10px 100px;
    border-radius: 25px;
}

.form-control{
    padding-bottom: 10px;
}




footer{
    background-color: forestgreen;
    border-bottom: 10px solid rgb(65, 61, 61);
    padding: 10px 10px;
    color:white;
}